body {
  font-family:Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: .4rem 1rem;
  text-align: left
}
tr {
  border-bottom: 1px solid #ddd;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.expiring {
  color: red;
}