body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #111111;
  color: #cccccc;
}
a {
  color: #1e90ff;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: .4rem 1rem;
  text-align: left
}
tr {
  border-bottom: 1px solid #333;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.expiring {
  color: red;
}